html {
    background: lightsteelblue;
}


 .white-keys kbd {
    display:inline-block;
    background: white;
    width: 90px;
    height: 270px;
    margin-left: -5px;
    border-style: solid;
    border-color: navy;
    color: black;
    font-size: 25px;
    line-height: 450px;
    text-align: center;
}

.white-keys {
    width: 55%;
    margin: 15% auto;
}

.black-keys kbd {
    color: white;
    background: black;
    z-index: 1;
    font-size: 18px;
    width: 55px;
    height: 180px;
    display: inline-block;
    margin-left: 20px;
    line-height: 250px;
    text-align: center;
}

.black-keys {
    width: 40%;
    margin: -36.4% auto;
}
#uno{
    position:relative;
    left: -53px;
}
#dos {
    position: relative;
    left: -38px;
}
#cinco {
    position: relative;
    right: -106px;
}
#qua {
    position: relative;
    right: -90px;
}
#tres{
    position:relative;
    right:-74px;
}